<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xmp.modules.system.mapper.DataPermissionTestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xmp.modules.system.entity.DataPermissionTest">
        <id column="ID" property="id" />
        <result column="FIELD1" property="field1" />
        <result column="FIELD2" property="field2" />
        <result column="FIELD3" property="field3" />
        <result column="FIELD4" property="field4" />
        <result column="DEPT_ID" property="deptId" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FIELD1 AS field1, FIELD2 AS field2, FIELD3 AS field3, FIELD4 AS field4, DEPT_ID AS deptId, CREATE_TIME AS createTime, ID AS id
    </sql>

</mapper>
