<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xmp.modules.system.mapper.JobLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xmp.modules.system.entity.JobLog">
        <id column="LOG_ID" property="logId" />
        <result column="JOB_ID" property="jobId" />
        <result column="BEAN_NAME" property="beanName" />
        <result column="METHOD_NAME" property="methodName" />
        <result column="PARAMS" property="params" />
        <result column="STATUS" property="status" />
        <result column="ERROR" property="error" />
        <result column="TIMES" property="times" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LOG_ID AS logId, JOB_ID AS jobId, BEAN_NAME AS beanName, METHOD_NAME AS methodName, PARAMS AS params, STATUS AS status, ERROR AS error, TIMES AS times, CREATE_TIME AS createTime
    </sql>

</mapper>
