<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xmp.modules.system.mapper.JobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xmp.modules.system.entity.Job">
        <id column="JOB_ID" property="jobId" />
        <result column="BEAN_NAME" property="beanName" />
        <result column="METHOD_NAME" property="methodName" />
        <result column="PARAMS" property="params" />
        <result column="CRON_EXPRESSION" property="cronExpression" />
        <result column="STATUS" property="status" />
        <result column="REMARK" property="remark" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        JOB_ID AS jobId, BEAN_NAME AS beanName, METHOD_NAME AS methodName, PARAMS AS params, CRON_EXPRESSION AS cronExpression, STATUS AS status, REMARK AS remark, CREATE_TIME AS createTime
    </sql>

</mapper>
