<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xmp.modules.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xmp.modules.system.entity.SysUser">
        <id column="user_id" property="userId" />
        <result column="dept_id" property="deptId" />
        <result column="username" property="username" />
        <result column="nick_name" property="nickName" />
        <result column="gender" property="gender" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="avatar_name" property="avatarName" />
        <result column="avatar_path" property="avatarPath" />
        <result column="password" property="password" />
        <result column="is_admin" property="isAdmin" />
        <result column="enabled" property="enabled" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="pwd_reset_time" property="pwdResetTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, dept_id AS deptId, username, nick_name AS nickName, gender, phone, email, avatar_name AS avatarName, avatar_path AS avatarPath, password, is_admin AS isAdmin, enabled, create_by AS createBy, update_by AS updateBy, pwd_reset_time AS pwdResetTime, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
