<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xmp.modules.system.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xmp.modules.system.entity.User">
        <id column="USER_ID" property="userId" />
        <result column="USERNAME" property="username" />
        <result column="PASSWORD" property="password" />
        <result column="DEPT_ID" property="deptId" />
        <result column="EMAIL" property="email" />
        <result column="MOBILE" property="mobile" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="MODIFY_TIME" property="modifyTime" />
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" />
        <result column="SSEX" property="ssex" />
        <result column="IS_TAB" property="isTab" />
        <result column="THEME" property="theme" />
        <result column="AVATAR" property="avatar" />
        <result column="DESCRIPTION" property="description" />
        <result column="DEPT_NAME" property="deptName" />
        <result column="ROLE_ID" property="roleId" />
        <result column="ROLE_NAME" property="roleName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID AS userId, USERNAME AS username, PASSWORD AS password, DEPT_ID AS deptId, EMAIL AS email, MOBILE AS mobile, STATUS AS status, CREATE_TIME AS createTime, MODIFY_TIME AS modifyTime, LAST_LOGIN_TIME AS lastLoginTime, SSEX AS ssex, IS_TAB AS isTab, THEME AS theme, AVATAR AS avatar, DESCRIPTION AS description, DEPT_NAME AS deptName, ROLE_ID AS roleId, ROLE_NAME AS roleName
    </sql>

</mapper>
